apiVersion: v1
kind: Service
metadata:
  name: {{ include "platform-frontend.fullname" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "platform-frontend.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  {{- if eq .Values.service.type "LoadBalancer" }}
  {{- with .Values.service.loadBalancerIP }}
  loadBalancerIP: {{ . }}
  {{- end }}
  {{- end }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: {{ .Values.service.name }}
      {{- if eq .Values.service.type "NodePort" }}
      {{- with .Values.service.nodePort }}
      nodePort: {{ . }}
      {{- end }}
      {{- end }}
  selector:
    {{- include "platform-frontend.selectorLabels" . | nindent 4 }}
